.header{
    display: flex;
    gap: 15rem;
    justify-content:space-evenly; 
    align-items: center;
    background-color: rgb(203, 201, 201);
    padding: 0.5rem 0;
}
.imgStyle{
    margin-left: 5rem;
    display: flex;
    gap: 2rem;
}

.headerStyle{
    display: inline-flex;
}